<?xml version="1.0" encoding="UTF-8" ?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		 http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
		<display-name>Create Account Application</display-name>
		<servlet>
			<servlet-name>CreateAccountApp</servlet-name>
			<servlet-class>org.springframework.web.servlet.DispatcherServlet
			</servlet-class>
			<init-param>
				<param-name>contextConfigLocation</param-name>
				<param-value>WEB-INF/config/spring-mvc-form-servletConfig.xml</param-value>
			</init-param>
		</servlet>

		<servlet-mapping>
			<servlet-name>CreateAccountApp</servlet-name>
			<url-pattern>/</url-pattern>
		</servlet-mapping>
	</web-app>
